* {
    color: black;
    background-color: #bcfec2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    margin: 20px;
    text-align: center;
    font-size: 48px;
}


main {
    padding: 10%;
}

.hide {
    display: none;
}


aside {
    padding: 5%;
    border: 3px solid black;
    border-width: 3px;
}

.floatleft  {
    float: left;
    width: 60%;
    height: fit-content;
    
}

.floatright {
    float: right;
    width: 40%;
    height: fit-content;
    
}

#question {
    float: right;
}


button {
        box-shadow: 0px 0px 0px 2px #9fb4f2;
        background:linear-gradient(to bottom, #04460f 5%, #1b6109 100%);
        background-color:#095c16;
        border-radius:10px;
        border:1px solid #4e6096;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:19px;
        padding:12px 37px;
        text-decoration:none;
        text-shadow:0px 1px 0px #0b6622;
    }
button:hover {
        background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color:#476e9e;
    }
button:active {
        position:relative;
        top:1px;
    }
    





#answers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

